*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Red Hat Display', sans-serif;
}

/* Mobile first */
body{
    background-image: url(../images/pattern-background-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

header{
    margin: 15% 5% 0;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}

header .banner{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

header .heading{
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-weight: 900;
    font-size: 130%;
    padding: 6% 0;
    background-color: #fff;
}

main{
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    margin: 0 5%;
}

main .content{
    padding: 0 10%;
}

main .content-text{
    color: hsl(224, 23%, 55%);
    font-size: 100%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8%;
}

main .plan{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 0 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plan .plan-icon{
    margin-top: 5%;
    margin-bottom: 5%;
}

.plan .plan-type{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.plan .plan-name{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    padding: 0 0 3%;
}

.plan .plan-price{
    color: hsl(224, 23%, 55%);
    padding: 3% 0 0;
}

.plan .plan-change{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    cursor: pointer;
}

.plan .plan-change:hover{
    color: hsl(223, 47%, 23%);
}

main .button{
    margin: 5% 5%;
}

.button input{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.button .pay-btn{
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    border: none;
    box-shadow: 0 10px 20px 0px hsl(224, 23%, 55%);
    margin-bottom: 10px;
}

.button .pay-btn:hover{
    background-color: hsl(223, 47%, 23%);
}

.button .cancel-btn{
    border: none;
    color: hsl(224, 23%, 55%);
    margin-bottom: 5%;
    background-color: #fff;
}

.button .cancel-btn:hover{
    background-color: hsl(223, 47%, 23%);
}
/* 
@media screen and (min-width: 240px){

}

@media screen and (min-width: 320px){
    
}

@media screen and (min-width: 375px){
    
}

@media screen and (min-width: 480px){
    
} */

@media screen and (min-width: 768px){
    body{
        background-image: url(../images/pattern-background-desktop.svg);
    }
    
    header{
        margin: 15% 25% 0;
    }
    
    main{
        margin: 0 25%;
    }    
}

@media screen and (min-width: 1024px){
    header{
        margin: 30% 30% 0;
    }
    
    main{
        margin: 0 30%;
    }    
}

@media screen and (min-width: 1140px){
    header{
        margin: 8% 35% 0;
    }
    
    main{
        margin: 0 35%;
    }
}


