*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Red Hat Display', sans-serif;
}

@media screen and (min-width: 0px) {
    body{
        background-image: url('../images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: hsl(225, 100%, 94%);
    }

    #main{
        text-align: center;
        background-color: #fff;
        margin: 10% 10%;
        border-radius: 20px;
    }

    #main .banner{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .content .content-heading{
        font-weight: 900;
        padding: 5%;
        color: hsl(223, 47%, 23%);
    }
    
    .content .content-info{
        padding: 0 5%;
        color: hsl(224, 23%, 55%);
        line-height: 1.4;
        font-size: 90%;
    }
    
    .content-plan{
        background-color: hsl(225, 100%, 98%);
        margin: 10% 5%;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .content-plan .plan-icon{
        width: 30%;
        float: left;
        padding: 5% 5%;
    }

    .content-plan .type{
        width: 40%;
        float: left;
        font-size: 70%;
        text-align: left;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    
    .content-plan .plan-name{
        font-weight: 900;
        color: hsl(223, 47%, 23%);
        padding-bottom: 3%;
    } 
    
    .content-plan .plan-price{
        padding-top: 3%;
        color: hsl(224, 23%, 55%);
    }
    
    .content-plan .plan-change{
        font-size: 70%;
        width: 30%;
        padding-top: 12%;
        padding-bottom: 12%;
        float: left;
        text-decoration: underline;
        color: hsl(245, 75%, 52%);
        font-weight: 700;
        cursor: pointer;
    }
    
    .button {
        clear: both;
        background-color: #fff;
        margin: 0 5%;
    }
    
    .button input{
        width: 100%;
        padding: 16px;
        border-radius: 10px;
        font-weight: 700;
        cursor: pointer;
    }
    
    .button .pay-btn{
        background-color: hsl(245, 75%, 52%);
        color: #fff;
        border: none;
        display: block;
        box-shadow: 0 10px 30px hsl(245, 75%, 52%);
        margin-bottom: 20px;
    }
    
    .button .cancel-btn{
        border: none;
        background-color: #fff;
        color: hsl(224, 23%, 55%);
    }
}

@media screen and (min-width: 375px){
    body{
        background-image: url('../images/pattern-background-desktop.svg');
    }

    #main{
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .content .content-info{
        font-size: 100%;
        padding: 0 10%;
    }

    .content-plan .type{
        font-size: 90%;
    }
    
    .content-plan .plan-change{
        font-size: 90%;
    }
    
    .button {
        padding: 0 0 10%;
    }
}

@media screen and (min-width: 1140px){
    #main{
        margin: 2% 30%;
    }

    .content-plan{
        margin: 5% 10%;
    }

    .button{
        margin: 0 10%;
        padding: 0 0 5%;
    }

    .content-plan .type{
        font-size: 100%;
    }
    
    .content-plan .plan-change{
        font-size: 100%;
    }
}