* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */

html {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 300px 0;
    color: #fff;
}

.item-1 {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
    padding: 30px;
    position: relative;
}

.item-2 {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
    padding: 30px;
    position: relative;
}

.item-3 {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
    padding: 30px;
    position: relative;
}

.item__icon {
    
}

.item__icon-circle {
    width: 25px;
    height: 25px;
    top: 30px;
    border-radius: 50%;
    background-color: rgba(29, 28, 28, 0.2);
}

.item__icon-car {
    position: absolute;
    top: 34px;
    left: 45px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.item__header {
    font-family: 'Big Shoulders Display', cursive;
    margin: 30px 0;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.item__content {
    padding-right: 50px;
    line-height: 1.6;
    margin-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

.item__button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: hsl(0, 0%, 95%);
    color: unset;
    cursor: pointer;
}
